@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2");
  src: url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2");
  src: url("../fonts/gilroylight.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.woff2") format("woff2");
  src: url("../fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensanslight.woff2") format("woff2");
  src: url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

.header__logo {
  margin-left: 5.4%;
  position: relative;
  top: 27px;
  cursor: pointer;
}

.header__logo-text {
  font-size: 48px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.26px;
}

.header__logo-text:hover {
  opacity: 0.6;
}

.header__logo-text:active {
  opacity: 0.3;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f7e296;
  height: 300px;
}

.header__decore {
  margin-right: 5.4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header__decore-line {
  width: 100px;
  height: 7px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 90px;
}

.header__decore-number {
  font-size: 179px;
  font-weight: 800;
  line-height: 179.2px;
  color: #fff;
  position: absolute;
  right: 0;
  top: 45px;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.user__form {
  position: relative;
  margin-left: 5.4%;
}

.user__label {
  background: url("../img/search.svg") no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 3px;
  cursor: pointer;
}

.user__input {
  border: none;
  margin-left: 30px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  padding: 5px;
}

.user__input:hover {
  opacity: 0.6;
}

.user__input::-webkit-input-placeholder {
  opacity: 0.3;
  color: #000000;
  font-family: "OpenSans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.15px;
}

.user__input:-ms-input-placeholder {
  opacity: 0.3;
  color: #000000;
  font-family: "OpenSans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.15px;
}

.user__input::-ms-input-placeholder {
  opacity: 0.3;
  color: #000000;
  font-family: "OpenSans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.15px;
}

.user__input::placeholder {
  opacity: 0.3;
  color: #000000;
  font-family: "OpenSans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.15px;
}

.user__input:focus {
  width: 310px;
  padding: 5px;
}

.interface {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
  margin-right: 5.4%;
}

.interface__link {
  font-size: 15px;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #000;
  position: relative;
}

.interface__link:hover {
  opacity: 0.6;
}

.interface__link:active {
  opacity: 0.3;
}

.interface__login::before {
  content: " ";
  position: absolute;
  background: url("../img/user.svg");
  width: 13px;
  height: 12px;
  right: 60px;
  top: 5px;
}

.interface__compare {
  margin-right: 65px;
}

.interface__compare::before {
  content: " ";
  position: absolute;
  background: url("../img/compare.svg");
  width: 10px;
  height: 10px;
  right: 85px;
  top: 6px;
}

.interface__cart::before {
  content: " ";
  position: absolute;
  background: url("../img/cart.svg");
  width: 13px;
  height: 12px;
  right: 75px;
  top: 5px;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5.4%;
  margin-top: 40px;
}

.main-nav__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50.5%;
  margin-right: 5.4%;
}

.main-nav__link {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  text-decoration: none;
  color: #000;
}

.main-nav__link-delivery {
  margin-right: 35px;
}

.main-nav__h3 {
  position: relative;
}

.main-nav__h3::after {
  content: " ";
  position: absolute;
  background: url("../img/plus.svg") no-repeat;
  width: 16px;
  height: 16px;
  right: -25px;
  top: 2px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Gilroy", sans-serif, sans-serif;
  font-size: 18px;
  font-weight: 800;
}

.container {
  max-width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */