.header {

   &__logo {
      margin-left: 5.4%;
      position: relative;
      top: 27px;
      cursor: pointer;
   }

   &__logo-text {
      font-size: 48px;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 0.26px;

      &:hover {
         opacity: 0.6;
      }

      &:active {
         opacity: 0.3;
      }
   }

   &__wrapper {
      display: flex;
      flex-direction: column;
      background-color: #f7e296;
      height: 300px;
   }
   &__decore {
      margin-right: 5.4%;
      display: flex;
      position: relative;
      
   }
  
   &__decore-line {
      width: 100px;
      height: 7px;
      background-color: #fff;
      position: absolute;
      left: 50%;
      top: 90px;
   }
   &__decore-number {
      font-size: 179px;
      font-weight: 800;
      line-height: 179.2px;
      color: #fff;
      position: absolute;
      right: 0;
      top:45px;
   }
}

.user {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 40px;

   &__form {
      position: relative;
      margin-left: 5.4%;
   }

   &__label {
      background: url("../img/search.svg") no-repeat;
      width: 16px;
      height: 16px;
      position: absolute;
      top: 3px;
      cursor: pointer;
   }

   &__input {
      border: none;
      margin-left: 30px;
      background-color: transparent;
      cursor: pointer;
      outline: none;
      padding: 5px;

      &:hover {
         opacity: 0.6;
      }

      &::placeholder {
         opacity: 0.3;
         color: #000000;
         font-family: $opensans;
         font-size: 15px;
         font-weight: 300;
         line-height: 36px;
         letter-spacing: 0.15px;
      }

      &:focus {
         width: 310px;
         padding: 5px;
      }
   }
}

.interface {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 45%;
   margin-right: 5.4%;

   &__link {
      font-size: 15px;
      font-family: $opensans;
      font-weight: 400;
      text-decoration: none;
      color: #000;
      position: relative;

      &:hover {
         opacity: 0.6;
      }

      &:active {
         opacity: 0.3;
      }
   }

   &__login {
      &::before {
         content: " ";
         position: absolute;
         background: url("../img/user.svg");
         width: 13px;
         height: 12px;
         right: 60px;
         top: 5px;
      }
   }

   &__compare {
      margin-right: 65px;

      &::before {
         content: " ";
         position: absolute;
         background: url("../img/compare.svg");
         width: 10px;
         height: 10px;
         right: 85px;
         top: 6px;
      }
   }

   &__cart {
      &::before {
         content: " ";
         position: absolute;
         background: url("../img/cart.svg");
         width: 13px;
         height: 12px;
         right: 75px;
         top: 5px;
      }
   }
}
.main-nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-left: 5.4%;
   margin-top: 40px;
   &__about {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 50.5%;
      margin-right: 5.4%;
   }
   &__link {
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 3.6px;
      text-decoration: none;
      color: #000;
      &-delivery {
         margin-right: 35px;
      }
   }
   &__h3 {
      position: relative;
      &::after{
         content: " ";
         position: absolute;
         background: url("../img/plus.svg") no-repeat;
         width: 16px;
         height: 16px;
         right: -25px;
         top: 2px;
      }
   }
}
